* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px; /* max prefix make container responsive*/
  margin: 0 auto;
}

.nav {
  position: fixed; /* make nav bar stick on thet op */
  /* width: 100%; */
  top: 0;
  left: 0;
  right: 0;
  height: 3rem;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.728);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.nav .container {
  height: 100%;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.nav ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  letter-spacing: 1px;
}

.nav a:hover {
  background-color: rgb(18, 78, 128);
  /* font-weight: bold; */
}

.nav ul,
.nav li,
.nav a {
  height: 100%;
}

.hero {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url("./restaurant.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hero h1 {
  font-size: 4rem;
  margin: -2rem 0 2rem;
}

.hero p {
  font-size: 2rem;
}

.menu,
.contact {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.99)),
    url(https://images.pexels.com/photos/958545/pexels-photo-958545.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}

.showcase {
  display: flex;
  margin: 0 0 2rem 0;
}

.menu,
.contact {
  margin: 3rem 0;
}

.menu .content {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
}

.menu p {
  font-size: 1.2rem;
  padding-top: 10px;
}

.menu img {
  width: 800px;
  height: 480px;
}

.contact img {
  width: 240px;
  height: 228px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.contact .staff {
  padding: 2rem 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contact .info {
  color: white;
}

.contact .phone,
.contact .email {
  font-size: 1.5rem;
}

.contact .title {
  font-size: 1.2rem;
}

.footer {
  position: fixed;
  height: 3rem;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(58, 58, 58);
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer p {
  font-size: 1rem;
}
